.floor-plan{
    fill: none;
}
.flat{
    &.active{
        .flat-border{
            fill: #31e843ab;
            stroke: #31e8438d;     
        }
    }
}
.flat-border{
    fill: #31e84300;
    stroke: #31e84300;
    &:hover{
        fill: #31e843ab;
        stroke: #31e8438d;
    }
}
.flat-status-overlay{
    fill: #fff;
    stroke: #000;
}
.flat-number{
    fill: #604ded;
    stroke: #000;
}
.flat-number-overlay{
    fill: #604ded;
    stroke: #000;
}
.flat-number-text{
    fill: #000;
    stroke: #000;
}
