.build-items{
    fill: #75a97500;
    fill-opacity: 0.5;
    stroke: #75a97500;
    stroke-width: 3px;
    &:hover{
        fill: $color-5;
        stroke: $color-5;
    }
    &.build-sold{
        &:hover{
            fill: #a50202;
            stroke: #a50202;
        }
    }
}
